<div class="container">
  <form>
    <div class="form-group">
      <label for="email" translate>Email</label>
      <input type="email" class="form-control" id="email" required>
    </div>
    <div class="form-group">
      <label for="username" translate>Username</label>
      <input type="text" class="form-control" id="username" required>
    </div>
    <div class="form-group">
      <label for="password" translate>Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="form-group">
      <label for="repeatPassword" translate>Repeat Password</label>
      <input type="password" class="form-control" id="repeatPassword">
    </div>
    <button type="submit" class="btn btn-success" translate>Register</button>
  </form>
</div>
