/* You can add global styles to this file, and also import other style files */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css";

.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  margin-bottom: 20px;
}

@media (min-width: 992px){
  .navbar li {
    margin-left : 10px;
    margin-right : 10px;
  }
}

.container-fluid, .container {
  background-color: #dddddd;
  height: 100vh;
  padding-right: 0;
  padding-left: 0;
}
