/* You can add global styles to this file, and also import other style files */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css";

.navbar-collapse.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px){
  .navbar li {
    margin-left : 10px;
    margin-right : 10px;
  }
}

.navbar-collapse.center.no-right-nav {
  margin-right: 110px;
}

.nav-item, .center-text {
  text-align: center;
}

.nav-item.wide {
  width: 150px;
  text-align: right;
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-fluid, .container {
  background-color: #dddddd;
  padding: 0;
}

.container-fluid.top {
  height: 100vh;
}

.top-margin {
  margin-top: 30px;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.col-form-label {
  text-align: right;
}

.btn {
  width: 200px;
  margin-right: 15px;
}

.form-group {
  margin-bottom: 30px;
}

.no-marker {
  list-style-type: none;
  padding: 0;
}

.rating {
  margin: 0;
  padding-right: 5px;
}

body {
  background-color: #dddddd;
}
