/* You can add global styles to this file, and also import other style files */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.navbar-collapse.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px){
  .navbar li {
    margin-left : 10px;
    margin-right : 10px;
  }
}

.navbar-collapse.center.no-right-nav {
  margin-right: 110px;
}

.nav-item, .center-text {
  text-align: center;
}

.wide {
  width: 150px;
  text-align: right;
}

.navbar, .shadow-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-fluid, .container {
  background-color: #dddddd;
  padding: 0;
}

.container-fluid.top {
  height: 100vh;
}

.top-margin {
  margin-top: 30px;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.col-form-label {
  text-align: right;
}

.btn {
  width: 200px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: solid 1px #292b2c;
  color: #292b2c;
}

.form-group {
  margin-bottom: 30px;
}

.no-marker {
  list-style-type: none;
  padding: 0;
}

.rating {
  margin: 0;
  padding-right: 5px;
}

.tag {
  border-radius: 12px;
  border: solid 1px #292b2c;
  color: #292b2c;
  display: flex;
  padding: 7px;
  margin: 10px
}

.tag > p {
  margin-bottom: 0;
}

.title-bar {
  border-bottom: solid 1px #292b2c;
}

.comment-title-bar {
  height: 28px;
}

.fake-link {
  color: #0275d8;
  margin: 15px 10px 10px 0;
  font-size: 17px;
}

.fake-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand {
  margin: 5px;
  font-size: 22px;
}

.comment {
  padding: 10px;
}

textarea {
  resize: none;
}

body {
  background-color: #dddddd;
}
