<div class="container-fluid top-margin col-10 shadow-box">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded title-bar">
    <p class="navbar-brand">{{copypasta.title}}</p>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home/profile', copypasta.author]">{{copypasta.author}}</a>
        </li>
      </ul>
    </div>
    <div class="flex">
      <p class="rating wide" translate>Your Rating:</p>
      <p class="rating h5">{{myRatingValue()}}</p>
      <star-rating-comp [starType]="'svg'" [rating]="myRating" (onRatingChange)="onRatingChange($event)"></star-rating-comp>
    </div>
    <div class="flex">
      <p class="rating wide" translate>Average:</p>
      <p class="rating h5">{{avgRating.toPrecision(2)}}</p>
      <star-rating-comp [starType]="'svg'" [rating]="avgRating" [readOnly]="true" [showHalfStars]="true"></star-rating-comp>
    </div>
  </nav>

  <div class="container-fluid flex">
    <div class="col-7">
      <div class="container-fluid flex">
        <span class="fake-link" (click)="selectTagFilter(tag)" *ngFor="let tag of copypasta.tags">{{tag.name}}</span>
      </div>
      <p>
        {{copypasta.text}}
      </p>
    </div>
    <div class="col-5">
      <div class="col-10 col-centered">
        <div class="container-fluid shadow-box" *ngFor="let comment of copypasta.comments" style="margin-top: 20px">
          <nav class="navbar navbar-toggleable-md navbar-light bg-faded title-bar comment-title-bar">
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/home/profile', comment.author]">{{comment.author}}</a>
                </li>
              </ul>
            </div>
          </nav>
          <p class="comment">
            {{comment.text}}
          </p>
        </div>
        <div *ngIf="isLoggedUser()">
          <div class="form-group" style="margin-top: 25px">
            <textarea [(ngModel)]="currentComment" name="comment" class="form-control" rows="3"></textarea>
          </div>
          <div class="container-fluid flex center">
            <button type="button" class="btn" (click)="addComment()" translate>Add comment</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
